
<div class="travel-api">

  <p><b>Country:</b> <%= @response["names"]["name"] %></p>
  <p><b>Languages:</b> <%= @response["language"][0]["language"] %></p>
  <p><b>Voltage:</b> <%= @response["electricity"]["voltage"] %> Volt</p>
  <p><b>Frequency:</b> <%= @response["electricity"]["frequency"] %> Hz</p>

  <% months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "November", "December"] %>
  <% tavg = [] %>
  <% @response["weather"].each do |month| %>
  <% tavg << month[1]["tAvg"].to_f %>
  <% end %>


  <%= line_chart({"January" => tavg[0], "February" => tavg[1], "March" => tavg[2], "April" => tavg[3], "May" => tavg[4], "June" => tavg[5], "July" => tavg[6], "August" => tavg[7], "September" => tavg[8], "October" => tavg[9], "November" => tavg[10], "December" => tavg[11]}) %>

  <p><b>Average Temperature in June:</b> <%= @response["weather"]["June"]["tAvg"] %> degree Celsius</p>
  <p><b>Emergency contacts:</b></p>
    <% @response["telephone"].each do |type | %>
  <p><%= type[0] %>: <%= type[1] %></p>
    <% end %>
  <% if @response["water"]["short"] == "safe" %>
  <p><b>Water:</b> The tap water is <%= @response["water"]["short"]%> for consumption.</p>
  <% else %>
  <p><b>Water:</b> The tap water is not safe for consumption. Please drink from bottled water.</p>

  <% end %>

  <p><b>Currency:</b> <%= @response["currency"]["name"] %> <input id="conversionOne" value = <%=@currency %> ></input>
    to <input id="conversion" value = 1> AUD </input></p>
  <p>
    <b>Vaccination:</b>
    <% if @response["vaccinations"] == [] %>
      <p>This country doesn't require any vaccination</p>
    <% else %>
      <% @response["vaccinations"].each do |name| %>
      <p><%= name["name"] %>: <%=name["message"] %> </p>
      <% end %>
    <% end %>
  </p>

</div>
<%= button_to 'Save this country as my destination', {:controller => "destinations", :action => "create", :name => @response["names"]["name"]}, method: :post %>
<%= button_to 'Back to My Profile', {:controller => "profiles", :action => "index"}, method: :get %>
