<h1>Welcome to Travel Note!</h1>
<p>Hi <%= current_user.name.capitalize %>! You're logged in!</p>

<div class="user-profile">
  <h3>Profile: </h3>
  <p>Name: <%= current_user.profile.name%></p>
  <p>Countries visited: <%= current_user.profile.countries_visited %></p>
  <p>Favourite countries: <%= current_user.profile.favourite_countries %></p>
  <p>Bucket list: <%= current_user.profile.bucket_list %></p>
  <p>Looking for travel buddy? <%=current_user.profile.travel_buddy %></p>


</div>
<%= button_to "Search Country's Profile", {:controller => "travelnote", :action => "search"}, method: :get %>
<%= button_to "Log Out", {:controller => 'sessions', :action => 'destroy'}, method: :get %>
