<h1>Create Your Profile</h1>

<%= form_for :profile, url: '/travelnote/new' do |f| %>
  Name: <%= f.text_field :name %> <br/>
  Countries visited: <%= f.text_field :countries_visited %> <br/>
  Favourite countries: <%= f.text_field :favourite_countries %> <br/>
  Bucket list: <%= f.text_field :bucket_list %> <br/>
  Looking for travel buddy? <%= f.check_box :travel_buddy %> <br/>
  <%= f.submit 'Create Profile' %>
<% end %>
