<h1>Welcome to Travel Note!</h1>
<div class="log-in">
  <% if flash[:error] %>
  <p><%= flash[:error] %></p>
  <% end %>
  <h3>Login</h3>
  <%= form_tag '/login' do %>

    Email: <%= text_field_tag :email %> <br/>
    Password: <%= password_field_tag :password %> <br/>
    <%= submit_tag "Log In" %>

  <% end %>

  <h3>Don't have an account? Sign up here!</h3>
  <%= button_to 'Create Account', {:controller => 'users', :action => 'new'}, method: :get %>

</div>
