
<div class="travel-api">

  <p>Country: <%= @response["names"]["name"] %></p>
  <p>Languages: <%= @response["language"][0]["language"] %></p>
  <p>Voltage: <%= @response["electricity"]["voltage"] %> Volt</p>
  <p>Frequency: <%= @response["electricity"]["frequency"] %> Hz</p>
  <p>Emergency contacts:</p>
    <% @response["telephone"].each do |type | %>
  <p> <%= type[0] %>: <%= type[1] %></p>
    <% end %>
  <p>Water: The tap water is <%= @response["water"]["short"]%> for consumption.</p>
  <p>Currency: <%= @response["currency"]["name"] %> <%= @response["currency"]["rate"] %> to USD</p>
  <p>
    Vaccination:
    <% if @response["vaccinations"] == [] %>
      <p>This country doesn't require any vaccination</p>
    <% else %>
      <%= @response["vaccinations"] %>
    <% end %>
  </p>

</div>

<div class="message-board">
  <h3>Message Board:</h3>
  <% @message.each do |x| %>
    <% if x.destination.id == @dest.id%>
    <p>
      <td><%= x.content %>- posted by: <%= x.user.name%></td>
      <% if x.user.id == current_user.id %>
        <td><%= link_to 'Edit', messages_edit_path %> </td>
        <td><%= link_to 'Delete', messages_destroy_path %></td>
      <% end %>
    </p>
    <% end %>
  <% end %>

  </div>
  <div class="create-post">
    <%= form_tag '/messages/create' do %>
      <%= text_field_tag :message %>
      <%= hidden_field_tag :country, @response["names"]["name"] %>
      <%= submit_tag 'Send message' %>
    <% end %>


  </div>
</div>
<%= button_to 'Back to My Profile', {:controller => "profiles", :action => "index"}, method: :get %>
