
<div class="travel-api">

  <p><b>Country:</b> <%= @response["names"]["name"] %></p>
  <p><b>Languages:</b> <%= @response["language"][0]["language"] %></p>
  <p><b>Voltage:</b> <%= @response["electricity"]["voltage"] %> Volt</p>
  <p><b>Frequency:</b> <%= @response["electricity"]["frequency"] %> Hz</p>

  <% months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "November", "December"] %>
  <% tavg = [] %>
  <% @response["weather"].each do |month| %>
  <% tavg << month[1]["tAvg"].to_f %>
  <% end %>

  <div id="line-chart">
    <%= line_chart({"January" => tavg[0], "February" => tavg[1], "March" => tavg[2], "April" => tavg[3], "May" => tavg[4], "June" => tavg[5], "July" => tavg[6],
      "August" => tavg[7], "September" => tavg[8], "October" => tavg[9], "November" => tavg[10], "December" => tavg[11]}, height: '300px', width: 'auto',
      ytitle: "Temperature", xtitle: "Months") %>

  </div>

  <p><b>Average Temperature in June:</b> <%= @response["weather"]["June"]["tAvg"] %> degree Celsius</p>
  <p><b>Emergency contacts:</b></p>
    <% @response["telephone"].each do |type | %>
  <p><%= type[0] %>: <%= type[1] %></p>
    <% end %>
  <% if @response["water"]["short"] == "safe" %>
  <p><b>Water:</b> The tap water is <%= @response["water"]["short"]%> for consumption.</p>
  <% else %>
  <p><b>Water:</b> The tap water is not safe for consumption. Please drink from bottled water.</p>

  <% end %>

  <p><b>Currency:</b> <%= @response["currency"]["name"] %> <input id="conversionOne" value = <%=@currency %> ></input>
    to <input id="conversion" value = 1> AUD </input></p>
  <p>
    <b>Vaccination:</b>
    <% if @response["vaccinations"] == [] %>
      <p>This country doesn't require any vaccination</p>
    <% else %>
      <% @response["vaccinations"].each do |name| %>
      <p><%= name["name"] %>: <%=name["message"] %> </p>
      <% end %>
    <% end %>
  </p>

</div>

  <h3>Message Board:</h3>
  <div id="message-board">
  <% @message.each do |x| %>
    <% if x.destination.id == @dest.id%>
      <p>
        <td><%= x.content %> - posted by <%= x.user.name.capitalize%> (<%= x.user.email%>)</td>
        <% if x.user.id == current_user.id %>
          <td><%= link_to 'Edit', { :controller => "messages", :action => "edit", :name => x } %> </td>
          <td><%= link_to 'Delete', {:controller => "messages", :action => "destroy", :name => x}, method: :delete, data: { confirm: "Are you sure?"}%></td>
        <% end %>
      </p>
    <% end %>
  <% end %>

  </div>
  <div class="create-post">
    <%= form_tag '/messages/create' do %>
      <%= text_field_tag :content %>
      <%= hidden_field_tag :country, @response["names"]["name"] %>
      <%= submit_tag 'Send message' %>
    <% end %>


  </div>
</div>
<%= button_to 'Back to My Profile', {:controller => "profiles", :action => "index"}, method: :get %>
