<!DOCTYPE html>
<html>
<head>
  <title>Travelnote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <div class="user-profile">
    <h3>Profile: </h3>
    <p>Name: <%= current_user.profile.name%></p>
    <p>Countries visited: <%= current_user.profile.countries_visited %></p>
    <p>Favourite countries: <%= current_user.profile.favourite_countries %></p>
    <p>Bucket list: <%= current_user.profile.bucket_list %></p>
    <p>Looking for travel buddy? <%=current_user.profile.travel_buddy %></p>
  <%= button_to "Edit Profile", {:controller => "profiles", :action => "edit"}, method: :get %>
  <%= button_to "Delete My Profile", {:controller => "profiles", :action => "destroy"}, method: :delete, data: { confirm: "Are you sure?"}%>
  <%= button_to "Log Out", {:controller => 'sessions', :action => 'destroy'}, method: :get %>

  </div>

  <div class="my-destination">
    <h3>My Destinations</h3>
    <% current_user.destinations.each do |x|%>
    <form action="/destinations/show" method= "GET">
      <input type="text" name="searchterm" value=<%= x.country %>>
      <button type="submit">Enter Me</button>
    </form>
    <% end %>
    <hr>
  <% end %>
<%= yield %>


</body>
</html>
